

    main table caption {
        margin-bottom: 1%;
        font-weight: bold;
        font-size: 2em;
    }

    main table thead {
        vertical-align: top;
    }

    main table td {
        padding: 15px 70px;
        font-size: 2em;
    }

    main table th {
        padding: 0 70px;
        font-size: 2em;
    }