ul.transactionNav {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
    float:left;
}

    ul.transactionNav a {
        display: block;
        width: 7em;
        padding: 10px;
        font-size: 2em;
        background-color: #eee;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-left: 5px solid #ccc;
        text-decoration: none;
        color: black;
    }

    ul.transactionNav li:last-child a {
        border-bottom: 1px solid #ccc;
    }

    ul.transactionNav a:hover{
        font-weight: bold;
    }

main {
    margin-left: 5%;
}

.addingEmployeeForm{
    margin-left: 15%;
}

.pageTitle {
    text-align: center;
    font-size: 2em;
}

.avatar {
    margin-top: 5%;
    float: left;
}

.labelInformation {
    margin-top: 5%;
    margin-left: 5%;
    float: left;
    font-size: 24px;
}

.information {
    margin-top: 5%;
    margin-left: 50%;
    font-size: 24px;
}

.labelInformation input, .labelInformation select{
    display: block;
    font-size: 1em;
    margin-top: 3%;
    margin-bottom: 6%;
}