@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>

<head>
    <meta charset="utf-8" />
    <link href="~/css/Employee/style.css" rel="stylesheet" />
    <title>Test</title>
</head>
<body>
<header>
    <h1>Система начисления заработной платы</h1>
    <ul class="nav">
        <li><a href="#">Список сотрудников</a></li>
        <li><a href="#">Список организаций</a></li>
        <li><a href="#">Список транзакций</a></li>
        <li><a href="#">Добавить транзакцию</a></li>
    </ul>
</header>
<main>
    <div>
        <table>
            <caption>Сотрудники</caption>
            <thead>
            <th>Имя</th>
            <th>Должность</th>
            <th>Заработок</th>
            <th>Подробнее</th>
            <th></th>
            </thead>
            <tbody>
            <td>Имя</td>
            <td>Должность</td>
            <td>Способ начисления заработка</td>
            <td>+</td>
            </tbody>
        </table>
    </div>
</main>
<footer>
    <h1>Данный проект - проект по начислению заработной платы, выполняемый по книжке М. Мартина "Принципы, паттерны и методики гибкой разработки на языке C#"</h1>
</footer>
</body>

</html>