@using SalarySystem.Entities
@model IEnumerable<Employee>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
<link href="~/css/Employee/employeesStyle.css" rel="stylesheet" />

}
<main>
    <div id="maindiv">
        <table>
            <caption>Сотрудники</caption>
            <tr>
                <th>Имя</th>
                <th>Должность</th>
                <th>Адрес</th>
                <th>Подробнее</th>
                <th></th>
            </tr>
            @foreach(var employee in Model)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.EmployeeInformation.Role</td>
                    <td>@employee.Address</td>
                    <td><a href="~/Employee/Employee?id=@employee.Id">..</a></td>
                </tr>
            }
        </table>
    </div>
</main>

